<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OlderFans</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{!-- Tell everyone what part of your body hurts today and what minuscule task you did caused it! --}}
        {{{body}}}
    </main>

    <footer>
        &copy; {{currentYear}} OlderFans
    </footer>

</body>
</html>