<head>
    <title>Homepage</title>
</head>
<body>
    <h1>OlderFans</h1>
    <p>Tell everyone what part of your body hurts today, and what minuscule task you did caused it!</p>
    <img src="/public/images/cid ramuh.jpg" alt="Homepage Image" class="resized-homepage">
</body>
</html>