@import url('https://fonts.cdnfonts.com/css/cute');

/* reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* font styles */

/* @font-face {
    font-family: 'Cute';
    src: url('/public/fonts/Cute-Bold.otf') format('otf'),
         url('/public/fonts/Spring.otf') format('otf');
} */

ul, ol {
    list-style-type: none;
}

body {
    font-family: 'Spring', sans-serif;
    margin: 20px;
    font-size: 30px;
}

h1 {
    font-family: 'Cute', sans-serif;
    font-size: 70px;
    padding: 20px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 30px;
    font-weight: bold;
}

/* color */
body {
    background-color: #f0f0f0;
    color: #333;
}

/* links */
a {
    color: #0078d4;
    text-decoration: none;
}

/* headings */
h1, h2 {
    color: #444;
}

/* Center text */
.text-center {
    text-align: center;
}

/* responsive layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* images */
img {
    max-width: 100%;
    height: auto;
}
